@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:wght@500&family=Sriracha&display=swap');


header{
    background-color: black;
    color: white;
    margin: -21px;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 21px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    text-decoration: underline;
}
h1{ 
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    margin-bottom: -30px;
    font-weight: normal;
    font-variant: small-caps;
    

}

section.normal{
    background-color: white;
    color: black;
    
    
}


body{
    width: 100%;
    height: 100%;
    

}

body p {
    padding: 20px;
    margin: 30px 20px 20px 2px;
    font-family: 'Sriracha', cursive;

}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

    

section.fotos > p {
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px  black;


}
section > p {
    padding-bottom: 2em;
}
section.fotos{
    padding: 40px;
    margin: -30px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.39);

  
}
header > p {
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#conteudo {
   
    background: black url('../imagens/background001.jpg') right center no-repeat fixed;
    background-size: cover;
    
}

#conteudo2 {
    
    background: black url('../imagens/background002.jpg') center center no-repeat fixed;
    background-size: cover;
   
}



footer{
    background-color: black;
    color: white;
    margin: -10px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;

}

